// $Variables
$main_bg_color: #f4f4f4;
$color_1: #292929;
$color_2: #686868;
$color_3: rgb(207, 97, 79);
$color_4: #AFAFAF;
$color_5: #e2e1df;


// $Fonts
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cuprum:700&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=cyrillic,latin,cyrillic-ext,latin-ext);

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: $color_1;
  background-color: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 35px;
  font-size: 1.2em;
  line-height: 1.6;
}

a {
  color: $color_2;
  @include transition(all .2s ease-in-out);
}

a:hover,
a:focus {
  text-decoration: none;
  color: $color_4;
}

section {
  position: relative;
}

.row { position: relative; }
