// $General
.small {
  font-size: .875rem;
  line-height: 1.4em;
}

.section-title {
  text-align: left;
  text-shadow: 0px 1px #fff;
  font-family: 'Cuprum', Helvetica, Arial, sans-serif;
  color: $color_2;
  position: relative;
  border-bottom: 1px solid $color_5;
  padding-bottom: 10px;
  margin: 0 10px 20px;

  p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;

    &:before {
      content: '// ';
      font-weight: 700;
      color: $color_3;
    }
  }
}

.page-icon {
  font-size: 60px;
  position: absolute;
  top: -6px;
  right: 10px;
  color: $color_5;
  @include opacity(.8);
}

@media(min-width:570px) {
  .section-title p {
    display: inline;
    padding-left: 10px;
  }

  .page-icon {
    top: -30px;
    right: 30px;
  }
}

.content-section {
  padding: 95px 0;
  background-color: $main_bg_color;
  color: $color_1;
  min-height: 100%;
  overflow: hidden;
}

.vline-overlay:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 30px;
  background: asset_url("overlay_pattern.png") repeat rgba(0, 0, 0, .01);
}

.vline-overlay-dark:before {
  @extend .vline-overlay:before;
  background: asset_url("overlay_pattern.png") repeat rgba(0, 0, 0, .3);
}


// $Navbar
.navbar {
  @include transition(background .5s ease-in-out,padding .5s ease-in-out);
  z-index: 9999;
  margin-bottom: 0;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0;
  letter-spacing: 1px;
  border-bottom: 1px solid $color_4;
}

.navbar-brand {
  @include transparent;
  font-weight: 700;
  color: $color_1;
}

.top-nav-collapse .navbar-brand { @include opaque; }

.navbar-toggle {
  padding: 12px 15px 11px;
  font-size: 18px;
  color: $color_1;
  @include border-radius(0);
  margin: 0;
  @include transition(background .3s ease-in-out);
}

.navbar-custom .nav a {
  font-weight: 700;
  font-family: 'Cuprum', Helvetica, Arial, sans-serif;
}

.navbar-toggle:hover,
.navbar-custom .nav a:hover,
.navbar-brand:hover {
  background-color: rgba(0,0,0,.1);
  color: $color_1;
}

.arrow-down-transparent { display: none; }

@media(max-width:766px) {
  .navbar-nav li:first-child { display: none; }
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 40px;
    background-color: transparent;
    border-bottom: none;
  }

  .navbar-nav {
    background-color: rgba(0,0,0,.2);
    @include transition(background .3s ease-in-out);
  }

  .navbar-custom .nav a {
    color: #fff;

    &:hover {
      background-color: rgba(0,0,0,.6);
      color: #fff;
    }
  }

  .top-nav-collapse {
    padding: 0 40px;
    background-color: #fff;
    border-bottom: 1px solid $color_4;

    .navbar-nav {
      background-color: transparent;

      a:hover,
      a:focus,
      .active a {
        background-color: rgba(0,0,0,.1);
        color: $color_1;
      }

      a { color: $color_1; }
    }
  }
}


// $Intro
.intro {
  background: asset_url('intro-bg.jpg') no-repeat bottom center scroll;
  @include background-size(cover);
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  color: #fff;

  .intro-body {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }

  .brand-heading {
    font-size: 4.5em;
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: normal;
    padding: 30px 0 40px;
    text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px #707070;
  }

  .intro-text { font-size: 1.563em; }

  .scroll-down {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;

    .btn {
      width: 50px;
      height: 50px;
      padding: 0;
      border: 2px solid #fff;
      border-radius: 100%;
      font-size: 30px;
      line-height: 50px;
      letter-spacing: normal;
      color: #fff;
      @include transition(all .3s);

      &:hover {
        border-color: rgba(255,255,255,.5);
        outline: 0;
        color: rgba(255,255,255,.5);
      }
    }
  }
}

@media(min-width:767px) {
  .scroll-down { display: none; }

  .arrow-down-transparent {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background: #FFF;
    border-bottom: 1px solid #AFAFAF;

    .left-part,
    .right-part {
      position: absolute;
      width: 50%;
      height: 25px;
      top: -25px;
      background: #fff;
      color: $color_1;

      &:before {
        @include transition(all .2s ease);
        display: block;
        position: absolute;
        content: "";
        top: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid #FFF;
      }

      i.fa {
        font-size: 1.875em;
        position: absolute;
        top: 12px;
      }

      span {
        margin-left: 10px;
        font-weight: bold;
        position: absolute;
        top: 17px;
        margin-left: 25px;
      }
    }

    .left-part {
      left: -25px;

      &:before {
        right: -25px;
        border-left: 25px solid #FFF;
      }

      i.fa { right: 325px; }

      span { right: 192px; }
    }

    .right-part {
      right:-25px;

      &:before {
        left: -25px;
        border-right: 25px solid #FFF;
      }

      i.fa { left: 168px; }

      a {
        margin-left: 10px;
        font-weight: bold;
        position: absolute;
        top: 16px;
        margin-left: 25px;
        left: 178px;
        color: $color_1;

        &:hover { color: $color_3; }
      }
    }

    &.hiddn > .left-part:before,
    &.hiddn > .right-part:before {
      border-top: 0 solid transparent;
    }
  }
}

@media (min-height:500px) {
  .brand-heading {
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 5em;
  }
}

// $About
#about .col-lg-10 {
  text-align: left;
  font-size: 12px;
}

.whatwedo {
  .col-pic {
    width: 95px;
    height: 95px;
    border: 2px solid #8A8A8A;
    @include border-radius(13px);
    color: #8A8A8A;
    font-size: 2.25rem;
    padding-top: 1.8rem;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
  }

  h4 {
    margin-bottom: .375rem;
    font-family: 'Cuprum', Helvetica, Arial, sans-serif;
  }

  h4, p { text-align: left; }
}

@media(min-width:768px) {
  #about .col-lg-10 {
    text-align: center;
    font-size: 14px;
  }

  .whatwedo {
    h4, p { text-align: center; }

    .col-pic {
      margin-top: 1.875rem;
      margin-right: 0;
      float: none;
    }
  }
}


// $Paralax
.paralax {
  background-position: 50% 0;
  background-repeat: no-repeat;
  @include background-size(cover);
  height: 30%;
  border-top: 2px solid $color_4;
  border-bottom: 2px solid $color_4;
}

@media(min-width:1025px) {
  .paralax {
    background-attachment: fixed;
  }
}


// $Projects
#projects {
  padding: 95px 0 50px;
}

.projects-block { position: relative; }

.projects-grid {
  padding: 0 0 50px;
  text-align: left;

  &.long {
    border-bottom: 1px solid $color_5;
  }

  li {
    display: none;
    position: relative;
    padding: 10px;
    text-align: center;
    min-width: 290px;

    .inner {
      background-color: #fff;
      width: 100%;
      border: 1px solid #e2e1df;
      padding-bottom: 20px;
    }

    h3 {
      margin-bottom: 3px;
      color: rgb(66, 66, 66);
      font-size: 1em;
      font-family: 'Cuprum', Helvetica, Arial, sans-serif;
    }

    p {
      font-size: .875em;
      color: #888;
      margin-bottom: 0;
      text-transform: lowercase;
    }

    .inner-image {
      position: relative;
      background-position: center center;
      @include background-size(cover);
      z-index: 2;
      width: 100%;
      height: 200px;
      cursor: pointer;
      margin-bottom: 20px;

      .caption-bg {
        @include transition(all .7s ease);
        @include transparent;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        position: relative;
      }
    }
  }
}

.projects-link-top {
  display: none;
  position: absolute;
  right: -14px;
  bottom: 0;
  background-color: $color_5;
  font-size: .65em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 20px 6px 15px;
  border-bottom: 1px solid $color_4;

  &:hover { color: $color_3; }
}

.project-controls {
  position: absolute;
  top: 80px;
  width: 100%;

  i {
    font-size: 40px;
    color: #fff;
    @include opacity(.7);
  }

  .article-link {
    border-left: 2px solid #fff;
    margin-left: 15px;
    padding: 21px 0px 3px 15px;
  }

  i.fa-search-plus:hover, .article-link:hover i {
    @include opaque;
  }
}

.projects-grid li:hover .caption-bg { @include opaque; }

.projects-filter-list {
  margin: 20px 0;
  text-align: left;
  padding-left: 25px;

  .filter {
    @include transition(all .4s ease);
    background: #fff;
    color: $color_2;
    display: inline-block;
    padding: 4px 15px 5px 10px;
    border-top: 2px solid transparent;
    border-bottom: 1px solid #e2e1df;
    cursor: pointer;
    margin: 0 8px;
    font-weight: 700;
    position: relative;
    font-family: 'Cuprum', Helvetica, Arial, sans-serif;

    &:before {
      @include transition(all .4s ease);
      content: '';
      position: absolute;
      top: -2px;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right:10px solid #fff;
    }

    &.active, &:hover {
      background: $color_3;
      color: #fff;

      &:before {
        border-right: 10px solid $color_3;
      }
    }

    .fa { margin-right: 5px; }
  }
}

.projects-modal .modal-dialog {
  width: 800px;
  margin: 100px auto;
  border: 14px solid #fff;

  .carousel-control.left, .carousel-control.right {
    background-image: none;

    &:hover {
      background-color: rgba(0, 0, 0, .6);
    }
  }

  .modal-content {
    @include box-shadow(none);
    border: none;
  }

  .modal-body {
    padding: 0;

    .carousel-inner .item {
      background-repeat: no-repeat;
      background-position: center center;
      @include background-size(cover);
      width: 100%;
      height: 500px;
    }

    .carousel-control { width: 80px; }

    .fa-chevron-left,
    .fa-chevron-right {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      font-size: 30px;
    }
  }
}


// $Blog
#blog .container { position: relative; }

a.articles-resize {
  display: none;
  position: absolute;
  right: 0;
  background-color: $color_5;
  font-size: .65em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 20px 6px;

  &:hover { color: $color_3; }

  &.minimize {
    bottom: 59px;
    border-bottom: 1px solid $color_4;
  }

  &.maximize {
    bottom: 35px;
    border-top: 1px solid $color_4;
  }
}

.articles-grid {
  padding: 0 0 20px;
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 1px solid $color_5;
  @include transition(all .7s ease);
  overflow-y: hidden;
  list-style: none;

  li {
    position: relative;
    padding: 10px;
    text-align: center;
  }
}

.article-inner {
  background-color: #fff;
  width: 70%;
  border: 1px solid #e2e1df;
  padding: 20px;
  position: relative;

  p {
    font-size: .875em;
    color: #888;
    margin-bottom: 0;
    text-align: left;

    a {
      color: $color_3;
      font-weight: 700;
      font-size: 1.25em;
      margin-left: 3px;
      text-decoration: underline;

      &:hover { color: #888; }
    }
  }
}

.article-title {
  position: absolute;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  top: 10px;
  right: 5px;
  width: 30%;
  background-color: rgb(66, 66, 66);
  margin-bottom: 3px;
  color: #fff;
  font-size: 1em;
  padding: 20px 20px 40px;
  font-family: 'Cuprum', Helvetica, Arial, sans-serif;

  &:hover { color: $color_3; }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width:0;
    height:0;
    border-top:20px solid rgb(66, 66, 66);
    border-left:20px solid transparent;
    z-index: 3;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $color_3;
  }
}

.inner-image {
  position: relative;
  background-position: center center;
  @include background-size(cover);
  z-index: 2;
  width: 100%;
  height: 200px;
  cursor: pointer;
  margin-bottom: 20px;

  .caption-bg {
    @include transition(all .7s ease);
    @include transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
  }
}

.articles-load-more {
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  padding: 2px 15px 0px 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e1df;
  position: relative;

  &.disabled, &:hover {
    border-bottom: transparent;
    color: #afafaf;
  }

  &.disabled { cursor: default; }

  &.loading { color: transparent; }

  &.loading:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 11px;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -5px;
    background: asset_url('ajax-loader_horizontal.gif');
  }
}


// $Show
$article_controls_width: 190px;
$article_controls_height: 100px;

#show {
  padding: 50px 0;

  .container {
    overflow: hidden;
    padding: 0 0 50px;
  }

  .article-header {
    @include background-size(cover);
    background-position: center center;
    width: 100%;
    height: 500px;
    position: relative;
    display: table;
  }

  .article-title-lg {
    font-size: 2.25em;
    font-weight: 700;
    font-family: 'Cuprum', Helvetica, Arial, sans-serif;
    display: table-cell;
    vertical-align: middle;
    padding: 0 300px 40px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;

    span {
      background-color: rgba(0,0,0,.5);
      padding: 6px 0;
      display: inline;
      box-shadow: 15px 0 0 rgba(0,0,0,.5), -15px 0 0 rgba(0,0,0,.5);
    }
  }

  .article-body {
    padding: 20px 40px;
    background-color: #fff;
    border: 1px solid #e2e1df;
    border-top: none;
    text-align: left;
  }

  .article-controls {
    position: absolute;
    top: calc(50% - 75px);
    background-color: $color_1;

    span {
      @include transition(top .2s ease, opacity 0 ease .2s, left 0 ease .2s, right 0 ease .2s);
      @include transparent;
      background-color: $color_1;
      position: absolute;
      width: $article_controls_width;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: .85em;
      font-family: 'Cuprum', Helvetica, Arial, sans-serif;
      padding: 10px;
      top: 0;
      color: #fff;
    }

    &.left-arrow {
      left: 0;
      padding: 43px 16px 37px 12px;

      span { left: -$article_controls_width; }
    }

    &.right-arrow {
      right: 0;
      padding: 43px 12px 37px 16px;

      span { right: -$article_controls_width; }
    }

    i { font-size: 1.25em; }

    .prev-article-img { left: -$article_controls_width; }

    .next-article-img { right: -$article_controls_width; }

    .prev-article-img, .next-article-img {
      @include background-size(cover);
      @include transition(left .3s ease .3s, right .3s ease .3s);
      background-position: center center;
      position: absolute;
      width: $article_controls_width;
      height: $article_controls_height;
      top: 0;
    }
  }

  .article-controls:hover {
    span {
      @include opaque;
      @include transition(top .2s ease .3s, opacity 0 ease .3s);
      top: $article_controls_height;
    }

    &.left-arrow span, .prev-article-img { left: 0; }

    &.right-arrow span, .next-article-img { right: 0; }

    .prev-article-img, .next-article-img { @include transition-delay(0s); }
  }

  .article-offers {
    background-color: #fff;
    padding: 0;
    border-top: 3px solid $color_3;
    border-bottom: 2px solid $color_3;

    .offers-title {
      background-color: #f2f2f2;
      border-right: 1px solid $color_5;
      border-bottom: 1px solid $color_5;
      font-size: 1em;
      font-weight: 700;
      line-height: 37px;
      margin: 0;
      position: relative;
      text-transform: uppercase;

      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        border: 0 solid transparent;
        border-top-color: $color_5;
        border-width: 8px 15px 0 15px;
        bottom: -9px;
        left: 50%;
        margin-left: -10px;
      }

      &:after {
        content: "";
        position: absolute;
        z-index: 2;
        border: 0 solid transparent;
        border-top-color: #f2f2f2;
        border-width: 8px 15px 0 15px;
        bottom: -8px;
        left: 50%;
        margin-left: -10px;
      }
    }

    #related_articles {
      list-style: none;
      padding: 0;
      margin: 0;
      border-right: 1px solid $color_5;

      li {
        border-bottom: 1px solid $color_5;
        position: relative;
      }

      a {
        height: 90px;
        font-size: 1em;
        font-family: 'Cuprum', Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: $color_1;
        background-color: #fff;
        padding: 15px 20px 20px 20px;
        display: block;
        text-align: left;
        text-transform: uppercase;

        &:hover { background-color: rgba(0,0,0,.2); }
      }

      .offer-image {
        @include background-size(cover);
        background-position: center center;
        width: 60px;
        height: 60px;
        float: left;
        margin-right: 15px;
      }
    }
  }

  @media (max-width: 1200px) {
    .article-offers { display: none; }
  }

  .link-back {
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    left: 0;
    font-weight: 700;
    font-size: .85em;
    padding: 7px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e1df;

    i.fa {
      margin-right: 5px;
    }
  }
}


// $Contacts
.section-contacts {
  border-top: 8px solid #fff;
  background-image: asset_url('contact-bg.jpg');
  background-position: center center;
  @include background-size(cover);
  color: #fff;
  padding: 95px 0;

  &:before {
    border-top: 1px solid $color_4;
    content: '';
    width: 100%;
    position: absolute;
  }

  &:after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    bottom: -7px;
    content: '';
    left: 50%;
    margin-left: -20px;
    position: absolute;
  }

  .row {
    background: rgba(0, 0, 0, .63);
    padding: 40px 20px 20px;
  }

  h2 {
    margin-bottom: 40px;
    text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px #5c5f72;
    font-family: 'Cuprum', Helvetica, Arial, sans-serif;
  }

  .col-lg-6 {
    font-size: 1.063rem;
    position: relative;
    text-align: left;
    padding-left: 25px;

    i.fa {
      font-size: 1.625rem;
      color: $color_3;
      margin-right: 5px;
    }

    &.mobile { margin: 0 60px; }

    a {
      color: #fff;
      font-weight: 700;

      &:hover { color: $color_3; }
    }
  }

  hr { border-color: $color_2; }
}

@media(min-width:1025px) {
  .section-contacts {
    background-attachment: fixed;
  }
}
